{% extends 'base.html.twig' %} 

{% block body %}
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
	<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('index') }}">Location de Voitures</a>
	<ul class="navbar-nav px-3">
		<li class="nav-item text-nowrap">
			<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
		</li>
	</ul>
</nav>

<div class="container-fluid">
	<div class="row">
		<nav class="col-md-2 d-none d-md-block bg-light sidebar">
			<div class="sidebar-sticky">
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('client_index') }}">
              <i class="fas fa-users"></i>
							clients
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('voiture_index') }}">
              <i class="fas fa-car"></i>
							Voitures
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('contrat_index') }}">
              <i class="fas fa-file-signature"></i>
							Contrats
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('facture_index') }}">
              <i class="fas fa-file-invoice-dollar"></i>
							Factures
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			{% block main %} {% endblock %}
		</main>
	</div>
</div>
{% endblock %}
